<a href="https://colab.research.google.com/github/vahidNaghshin/Data_structures_and_algorithms_in_Python/blob/main/Data_structures_and_algorithms_in_Python_Chapter_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 1

In [ ]:
#derive the python version
import sys
print(f"the python version is {sys.version}")

the python version is 3.7.14 (default, Sep  8 2022, 00:06:44)
[GCC 7.5.0]

In [ ]:
#use this to run the python in interactive mode
python3 -i script_name.py

In [ ]:

f = {'a':1, 'b':4}
x = 'a'
x in f.keys()

True

In [ ]:
#the alias 
x = 3
y = 3
id(x), id(y)

(11122656, 11122656)

In [ ]:
#the alias
x = 3
y = x
id(x), id(y)

(11122656, 11122656)

In [ ]:
x = [2,5,1,7,3,6]
id(x), id(x.sort())

(140264835596608, 11120128)

In [ ]:
#the sort method of class list return the changed list 
x

[1, 2, 3, 5, 6, 7]

In [ ]:
#the defat value of bool class
bool()

False

In [ ]:
#different input base
x = 0b110
y = 0o11
z = 0x11
x, y, z

(6, 9, 17)

In [ ]:
#default value of int(), float()
int(), float()

(0, 0.0)

In [ ]:
#gives the integer of string
int('12'), int( '7f' , 16)

(12, 127)

In [ ]:
#while it givens ValueError for string
int('v')

ValueError: ignored

In [ ]:
float('3.14')

3.14

In [ ]:
#list is mutable
x = [1,2,3]
x[2]=5
x

[1, 2, 5]

In [ ]:
#tuple is immutable
x = (1,2,3)
x[2]=5
x

TypeError: ignored

In [ ]:
#string class is immutable
x = 'adnajnd'
x[2]='f'
x

TypeError: ignored

In [ ]:
#list class can accept any iterator
list('hello'), list(range(5)), list((1,2,3,4)), list({1,25,6,7})

(['h', 'e', 'l', 'l', 'o'], [0, 1, 2, 3, 4], [1, 2, 3, 4], [1, 7, 25, 6])

In [ ]:
#tuple, use comam after one single value
x = (17,)
x, (17)

((17,), 17)

In [ ]:
type((13))

int

In [ ]:
#\ escape for string
"Don\'t worry", "Don't worry", "C:\\Python\\",  'C:\\Python\\' ,  'C:/Python/'

("Don't worry", "Don't worry", 'C:\\Python\\', 'C:\\Python\\', 'C:/Python/')

In [ ]:
#use print for acslash
my_str = 'Alice\\Bob\\Carl'
print(my_str)
my_str

Alice\Bob\Carl

'Alice\\Bob\\Carl'

In [ ]:
my_str = r'Alice\Bob\Carl'
print(my_str)

Alice\Bob\Carl

In [ ]:
#when cosntructing path you can use forward slash
file_path = '/content/sample_data/README.md'

In [ ]:
#you can use unicode
print('20\u20AC')

20€

In [ ]:
TestText = "Test - āĀēĒčČ..šŠūŪžŽ" # this not UTF-8...it is a Unicode string in Python 3.X.
TestText2 = TestText.encode('utf8') # this is a UTF-8-encoded byte string.
print(TestText2)

b'Test - \xc4\x81\xc4\x80\xc4\x93\xc4\x92\xc4\x8d\xc4\x8c..\xc5\xa1\xc5\xa0\xc5\xab\xc5\xaa\xc5\xbe\xc5\xbd'

In [ ]:
#{[1,2], 2}
{(1,2), 2}

{(1, 2), 2}

In [ ]:
set('hello')

{'e', 'h', 'l', 'o'}

In [ ]:
pairs = [( 'ga' , 'Irish' ), ( 'de' , 'German' )]
dict(pairs)

{'ga': 'Irish', 'de': 'German'}

In [ ]:
a = None
b = False
b and a, a and b

(False, None)

In [ ]:
a = set([1,2])
b = set([2,1, 1, 2])
a, b, a==b

({1, 2}, {1, 2}, True)

In [ ]:
a, b = 5, 3
a/b, a//b, a%b

(1.6666666666666667, 1, 2)

In [ ]:
#bitwise ops
a, b = 0b10, 0b01
a, b, ~a, a|b, a^b, a &b, a<<1, a<<2

(2, 1, -3, 3, 3, 0, 4, 8)

In [ ]:
a = True
a, ~a

(True, -2)

In [ ]:
s = [1,2,3]
s[2]=0
s

[1, 2, 0]

In [ ]:
'amp' in 'example'

True

In [ ]:
#https://stackoverflow.com/questions/13052857/comparing-two-lists-using-the-greater-than-or-less-than-operator
[1,2,3] < [2,3,2]

True

In [ ]:
 
 [5, 6, 9] < [5, 3, 4]

False

In [ ]:
list1 = [10, 15, 20, 25, 30, 35, 40]
list2 = [25, 40, 35] 
li = list1 - list2
li

TypeError: ignored

In [ ]:
#the in comapres the keys of dictionary
d = {'a':1, 'b':2}
'a' in d, 1 in d

(True, False)

In [ ]:
# This example demonstrates the subtle difference between the list semantics for the syntax beta += foo versus beta = beta + foo
alpha = [1, 2, 3] 
beta = alpha
#does change the alias
beta += [4, 5]

#does not change the alias
beta = beta + [6, 7] 
print(alpha, beta)

[1, 2, 3, 4, 5, 6, 7] [1, 2, 3, 4, 5, 6, 7]

In [ ]:
#  1 <= x + y <= 10 does not compute the inter- mediate value x + y twice.
 x, y = 1, 2
 1 <= x + y <= 10,  (1 <= x + y) and (x + y <= 10)

(True,)

In [ ]:
val1, val2 = 1, 2
cond = val1 < val2
x = val1 if cond else val2
x

1

In [ ]:
a = 0b00111100
a, ~a

(60, -61)

**Control Flow**

In [ ]:
s = {1,2,3}
for i in s:
  print(i)
  break

1

**Functions**

a distinction between functions and methods. We use the general term function to describe a traditional, stateless function that is in- voked without the context of a particular class or an instance of that class, such as sorted(data).

In [ ]:
def None_return():
  return

print(None_return())

None

In [ ]:
def None_return():
  print('Im a function without any return statement')

print(None_return())

Im a function without any return statement
None

In [ ]:
data = [1,2,3,4]
print('before statement data: {0}'.format(data))
def f(d, s):
  for i in range(len(d)):
    d.append(i*s)

f(data, 2)

print('After statement data: {0}'.format(data))

before statement data: [1, 2, 3, 4]
After statement data: [1, 2, 3, 4, 0, 2, 4, 6]

In [ ]:
def range(start, stop=None, step=1):
  if stop is None:
    stop = start
    start = 0
    ....

In [ ]:
max(12,-34, key=abs)

-34

In [ ]:
all([1,0,3]), any([1, 0, 3])

(False, True)

In [ ]:
u = iter([1,2,3,4])
u

In [ ]:
next(u)

StopIteration: ignored

In [ ]:
def add_two(a, b):
  return a+b

In [ ]:
for k in map(add_two, [1,2,3], [5,6,7]):
  print(k)

6
8
10

In [ ]:
next(map(add_two, [1,2,3], [5,6,7]))

6

In [ ]:
round(2.3346532, 3), round(2.6)

(2.335, 3)

In [ ]:
print('asd')
print()
print('asdad')

asd

asdad

In [ ]:
print('a', 'b', 'c', sep= '' ), print('a', 'b', 'c', sep= '' ), print('a', 'b', 'c', sep= '|||' )

abc
abc
a|||b|||c

(None, None, None)

In [ ]:
year = int(input( 'In what year were you born?'   ))
year

In what year were you born?45

45

In [ ]:
reply = input( 'Enter x and y, separated by spaces: ' )
pieces = reply.split( ) # returns a list of strings, as separated by spaces 
x = float(pieces[0])
y = float(pieces[1])
x, y

Enter x and y, separated by spaces: 45 65

(45.0, 65.0)

In [ ]:
age = int(input( 'Enter your age in years:  ' ))
max_heart_rate = 206.9 - (0.67 * age) # as per Med Sci Sports Exerc. 
target = 0.65*max_heart_rate
print( 'Your target fat-burning heart rate is' , target)

Enter your age in years:  36
Your target fat-burning heart rate is 118.807

In [ ]:
fp = open('/content/sample_data/anscombe.json')
fp

In [ ]:
for line in fp:
  print(line)

[

  {"Series":"I", "X":10.0, "Y":8.04},

  {"Series":"I", "X":8.0, "Y":6.95},

  {"Series":"I", "X":13.0, "Y":7.58},

  {"Series":"I", "X":9.0, "Y":8.81},

  {"Series":"I", "X":11.0, "Y":8.33},

  {"Series":"I", "X":14.0, "Y":9.96},

  {"Series":"I", "X":6.0, "Y":7.24},

  {"Series":"I", "X":4.0, "Y":4.26},

  {"Series":"I", "X":12.0, "Y":10.84},

  {"Series":"I", "X":7.0, "Y":4.81},

  {"Series":"I", "X":5.0, "Y":5.68},



  {"Series":"II", "X":10.0, "Y":9.14},

  {"Series":"II", "X":8.0, "Y":8.14},

  {"Series":"II", "X":13.0, "Y":8.74},

  {"Series":"II", "X":9.0, "Y":8.77},

  {"Series":"II", "X":11.0, "Y":9.26},

  {"Series":"II", "X":14.0, "Y":8.10},

  {"Series":"II", "X":6.0, "Y":6.13},

  {"Series":"II", "X":4.0, "Y":3.10},

  {"Series":"II", "X":12.0, "Y":9.13},

  {"Series":"II", "X":7.0, "Y":7.26},

  {"Series":"II", "X":5.0, "Y":4.74},



  {"Series":"III", "X":10.0, "Y":7.46},

  {"Series":"III", "X":8.0, "Y":6.77},

  {"Series":"III", "X":13.0, "Y":12.74},

  {"Series":"III", "X":9.0, "Y":7.11},

  {"Series":"III", "X":11.0, "Y":7.81},

  {"Series":"III", "X":14.0, "Y":8.84},

  {"Series":"III", "X":6.0, "Y":6.08},

  {"Series":"III", "X":4.0, "Y":5.39},

  {"Series":"III", "X":12.0, "Y":8.15},

  {"Series":"III", "X":7.0, "Y":6.42},

  {"Series":"III", "X":5.0, "Y":5.73},



  {"Series":"IV", "X":8.0, "Y":6.58},

  {"Series":"IV", "X":8.0, "Y":5.76},

  {"Series":"IV", "X":8.0, "Y":7.71},

  {"Series":"IV", "X":8.0, "Y":8.84},

  {"Series":"IV", "X":8.0, "Y":8.47},

  {"Series":"IV", "X":8.0, "Y":7.04},

  {"Series":"IV", "X":8.0, "Y":5.25},

  {"Series":"IV", "X":19.0, "Y":12.50},

  {"Series":"IV", "X":8.0, "Y":5.56},

  {"Series":"IV", "X":8.0, "Y":7.91},

  {"Series":"IV", "X":8.0, "Y":6.89}

]

In [ ]:
fp.read(45)

''

In [ ]:
fp.readline()

'  {"Series":"I", "X":8.0, "Y":6.95},\n'

In [ ]:
for l in fp.readlines():
  print(l)

  {"Series":"I", "X":9.0, "Y":8.81},

  {"Series":"I", "X":11.0, "Y":8.33},

  {"Series":"I", "X":14.0, "Y":9.96},

  {"Series":"I", "X":6.0, "Y":7.24},

  {"Series":"I", "X":4.0, "Y":4.26},

  {"Series":"I", "X":12.0, "Y":10.84},

  {"Series":"I", "X":7.0, "Y":4.81},

  {"Series":"I", "X":5.0, "Y":5.68},



  {"Series":"II", "X":10.0, "Y":9.14},

  {"Series":"II", "X":8.0, "Y":8.14},

  {"Series":"II", "X":13.0, "Y":8.74},

  {"Series":"II", "X":9.0, "Y":8.77},

  {"Series":"II", "X":11.0, "Y":9.26},

  {"Series":"II", "X":14.0, "Y":8.10},

  {"Series":"II", "X":6.0, "Y":6.13},

  {"Series":"II", "X":4.0, "Y":3.10},

  {"Series":"II", "X":12.0, "Y":9.13},

  {"Series":"II", "X":7.0, "Y":7.26},

  {"Series":"II", "X":5.0, "Y":4.74},



  {"Series":"III", "X":10.0, "Y":7.46},

  {"Series":"III", "X":8.0, "Y":6.77},

  {"Series":"III", "X":13.0, "Y":12.74},

  {"Series":"III", "X":9.0, "Y":7.11},

  {"Series":"III", "X":11.0, "Y":7.81},

  {"Series":"III", "X":14.0, "Y":8.84},

  {"Series":"III", "X":6.0, "Y":6.08},

  {"Series":"III", "X":4.0, "Y":5.39},

  {"Series":"III", "X":12.0, "Y":8.15},

  {"Series":"III", "X":7.0, "Y":6.42},

  {"Series":"III", "X":5.0, "Y":5.73},



  {"Series":"IV", "X":8.0, "Y":6.58},

  {"Series":"IV", "X":8.0, "Y":5.76},

  {"Series":"IV", "X":8.0, "Y":7.71},

  {"Series":"IV", "X":8.0, "Y":8.84},

  {"Series":"IV", "X":8.0, "Y":8.47},

  {"Series":"IV", "X":8.0, "Y":7.04},

  {"Series":"IV", "X":8.0, "Y":5.25},

  {"Series":"IV", "X":19.0, "Y":12.50},

  {"Series":"IV", "X":8.0, "Y":5.56},

  {"Series":"IV", "X":8.0, "Y":7.91},

  {"Series":"IV", "X":8.0, "Y":6.89}

]

In [ ]:
fp.close()

In [ ]:
print(..., file=fp)

In [ ]:
raise ValueError( 'x cannot be negative' )

ValueError: ignored

In [ ]:
def sqrt(x):
  if not isinstance(x, (int, float)):
    raise ValueError('it should be numeric value')
  elif x < 0:
    raise ValueError('It should be positive value')

In [ ]:
sqrt('a')

ValueError: ignored

In [ ]:
import collections
collections.Iterable

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated since Python 3.3,and in 3.9 it will stop working

collections.abc.Iterable

In [ ]:
def sum(value):
  if not isinstance(value, collections.Iterable):
    raise ValueError('The value should be Iterable')
  tot = 0
  for val in value:
    if not isinstance(val, (int, float)):
      raise ValueError('the iterable should include only numerical values')
    
    tot += val
  return tot

In [ ]:
sum([1,2,3])

6

In [ ]:
try:
  fp = open('sometext.txt')
except IOError as e:
  print(e)
  print('Unable to load {0}'.format(e))
  raise
finally:
  print('it is caught')

[Errno 2] No such file or directory: 'sometext.txt'
Unable to load [Errno 2] No such file or directory: 'sometext.txt'
it is caught

FileNotFoundError: ignored

In [ ]:
try:
  fp = open('sometext.txt')
except IOError as e:
  pass

In [ ]:
x = [1,2,30,4]

In [ ]:
h = iter(x)
h

In [ ]:
next(h)

1

In [ ]:
del x[1]

In [ ]:
x

[1, 30, 4]

In [ ]:
next(h)

30

In [ ]:
sum([])

0

In [ ]:
def factors(n):
  for k in range(1, n+1):
    if not n%k:
      yield k

In [ ]:
for i in factors(6):
  print(i)

1
6
2
3

In [ ]:
def factors(n):
  k = 1
  while k * k < n:
    if not n%k:
      yield k
      yield n//k
    k+=1
  if k*k ==n:
    yield k

In [ ]:
def fibonacci(n):
  a, b = 0, 1
  for k in range(n):
    yield a
    future = a + b
    a = b 
    b = future

In [ ]:
for i in fibonacci(10):
  print(i)

0
1
1
2
3
5
8
13
21
34

In [ ]:
sum(k*k for k in range(10))

285

In [ ]:
a, b = 1, 2
a, b

(1, 2)

In [ ]:
a, b = b, a
a, b

(2, 1)

In [ ]:
a.__dir__

In [ ]:
fibonacci.__dict__

{}

# Reinforcement

In [ ]:
#R-1.1
def is_multiple(n, m):
  if not m:
    raise ValueError('The number should be non-zero')
  return True if not n%m else False

In [ ]:
n, m = 10, 4
is_multiple(n, m)

False

In [ ]:
#R-1.2
def is_even(k):
  k = abs(k)
  while True:
    if k == 1:
      #the k is odd
      return False
    elif not k:
      #k is even
      return True
    k -= 2

In [ ]:
k=-40
is_even(k)

True

In [ ]:
#R-1.3
def minmax(seq):
  if not seq:
    raise ValueError('The sequence is empty!')

  max_value, min_value = seq[0], seq[0]
  for i in range(1, len(seq)):
    if seq[i] > max_value:
      max_value = seq[i]
    if seq[i] < min_value:
      min_value = seq[i]
    
  return max_value, min_value

In [ ]:
seq = [1, 5, -2, 8, 10, 190]
minmax(seq)

(190, -2)

In [ ]:
#R-1.4
def sum_sqrs(k):
  sum_ = 0
  for i in range(k):
    sum_ += i * i
  return sum_

In [ ]:
k=3
sum_sqrs(k)

5

In [ ]:
#R-1.5
sum(z*z for z in range(k))

5

In [ ]:
#R-1.6
def sum_odd_sqrs(k):
  sum_ = 0
  for i in range(k):
    if i%2:
      sum_ += i * i
  return sum_

In [ ]:
sum_odd_sqrs(k)

1

In [ ]:
#R-1.7
sum(z*z for z in range(k) if z%2)

1

In [ ]:
#R-1.10
[i for i in range(8, -9, -2)]

[8, 6, 4, 2, 0, -2, -4, -6, -8]

In [ ]:
#R-1.11
[2**i for i in range(9)]

[1, 2, 4, 8, 16, 32, 64, 128, 256]

In [ ]:
#R-1.12
import random

def choice_(seq):
  return seq[random.randrange(0, len(seq))]

In [ ]:
seq = [1,2,3,4]
choice_(seq)

4

# Creativity

In [ ]:
#C-1.13
seq = [1,6,2,5,9,3]
seq.reverse()
seq

[3, 9, 5, 2, 6, 1]

In [ ]:
for i in {1,2,36,2}:
  print(i)

1
2
36

In [ ]:
#C-1.14
def determine_odd_prod(seq):
  elements = list(set(seq)) #to get the distinct elements
  result = []
  for i in range(len(elements)):
    for j in range(i+1, len(elements)): #since we have distinct elements
      if (seq[i] * seq[j]) % 2:
        return True
  return False

In [ ]:
seq = [1,24,21,2,4, 24]
determine_odd_prod(seq)

True

In [ ]:
#C-1.15
def is_distinct(seq):
  return True if len(seq)==len(set(seq)) else False

In [ ]:
is_distinct(seq)

False

In [ ]:
#C-1.18
[i*(i+1) for i in range(10)]

[0, 2, 6, 12, 20, 30, 42, 56, 72, 90]

In [ ]:
#C-1.19
[chr(i) for i in range(97, 97+26)]

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [ ]:
#C-1.20
import random
def own_shuffle(seq):
  k = len(seq)
  idx = []
  while k:
    idx_rand = random.randint(0,len(seq)-1) #randint includes both end points
    if  idx_rand not in idx:
      idx.append(idx_rand)
      k -= 1
    
  return [seq[i] for i in idx]

In [ ]:
own_shuffle(seq)

[2, 4, 48, 8, 42, 48]

In [ ]:
#C-1.21
print('enter your input')
print('To finish, enter ctrl+D')
done = True
temp = []
while done:
  try:
    temp.append(input('Enter ... '))
  except EOFError:
    done = False #finish getting input from user
    temp.reverse()
    for line in temp:
      print(line)

enter your input
To finish, enter ctrl+D
Enter ... this is line 1
Enter ... this is line 2
Enter ... this is line 3
Enter ... 
this is line 3
this is line 2
this is line 1

In [ ]:
#C-1.22
def dot_prod(a, b):
  return [a[i]*b[i] for i in range(len(a))] #both arrays/lists have the same length

In [ ]:
a, b=[1,2,3], [4,5,6]
dot_prod(a, b)

[4, 10, 18]

In [ ]:
#C-1.23
def out_of_bound(a, idx):
  try:
    return a[idx]
  except IndexError:
    print('Don’t try buffer overflow attacks in Python!')

In [ ]:
out_of_bound(a, idx=10)

Don’t try buffer overflow attacks in Python!

In [ ]:
#C-1.24
def count_vowel(character):
  count = 0
  for c in character:
    if c in {'a', 'o', 'e', 'i', 'u'}:
      count += 1
  return count

In [ ]:
character = 'Hello, world!'
count_vowel(character)

3

In [ ]:
#C-1.25
def remove_punc(character):
  no_punc = ''
  for c in character:
    if not c in {'.', '\'', '?', '!', ',', ':', ';', '-', '_', '[', ']', '{', '}', '(', ')', '\"'}:
      no_punc += c
  return no_punc

In [ ]:
character= "Let\'s try, Mike."
remove_punc(character)

'Lets try Mike'

In [ ]:
#C-1.26

def det_order():
  a = int(input('Enter a number : a'))
  b = int(input('Enter a number : b'))
  c = int(input('Enter a number : c'))

  if a + b == c or c + a == b or b + c == a:
    return True
  elif a - b == c or c - a == b or b - c == a:
    return True
  elif a * b == c or c * a == b or b * c == a:
    return True
  return False

In [ ]:
det_order()

Enter a number : a3
Enter a number : b4
Enter a number : c1

True

In [ ]:
#C-1.27
def factors(n):
  k = 1
  temp = []
  while k * k < n:
    if not n%k:
      yield k
      temp.append(n//k)
    k+=1
  if k*k ==n:
    yield k
  temp.reverse()
  for i in temp:
    yield i

In [ ]:
for i in factors(90):
  print(i)

1
2
3
5
6
9
10
15
18
30
45
90

In [ ]:
#C-1.28
import math
def norm(v, p=2):
  return math.sqrt(sum(v[i] * v[i] for i in range(len(v))))

In [ ]:
v = (3, 4)
norm(v)

5.0

# Projects

In [ ]:
#P-1.29
import math, random

def possible_string(ch=['c' , 'a' , 't' ]):
  
  idx = [i for i in range(len(ch))]
  tot_comb = math.factorial(len(ch))
  print("Total words is: {0}".format(tot_comb))
  k = 0
  temp = []
  while len(temp) < tot_comb:

    #make a word
    candidate = ''
    for i in idx:
      candidate += ch[i]

    #if the word is not already in the list of words should be considered as new entry
    if not candidate in temp:
      temp.append(candidate)

    random.shuffle(idx)

  return temp

In [ ]:
all_words = possible_string(ch=['c' , 'a' , 't' , 'd' , 'o' , 'g'  ])
len(all_words)

Total words is: 720

720

In [ ]:
idx = [0, 1, 2, 3]
c= ['z', 'a', 'o', 'd']
p = ''
for i in idx:
  p += c[i]

p

'zaod'

In [ ]:
#P-1.30
def num_div():
  n = int(input('Please enter a number greater than 2: '))
  k = 0
  while n > 2:
    n /= 2
    k += 1
  return k

In [ ]:
num_div()

Please enter a number greater than 2: 7

2

In [ ]:
#P-1.31
def make_change(charged, given, coins):
 change = given - charged
 if change < 0:
   raise ValueError('Money Given should be greater than Money Charged')

 result = {}
 
 #makes sure the coins is sorted from max to min
 coins.sort()
 coins.reverse()


 for k in range(len(coins)):
   q, r = divmod(change, coins[k])
   result[coins[k]] = q
   change = r
 
 if change:
   print('Warning: change cannot paid fully')  #if the change cannot paid by coin system

 return result

In [ ]:
charged, given = 200, 335
coins = [1, 2, 5, 10, 20, 50, 100]

make_change(charged, given, coins)

{100: 1, 50: 0, 20: 1, 10: 1, 5: 1, 2: 0, 1: 0}

In [ ]:
#P-1.32
def calculator():
  in1 = float(input('Input the first number: '))
  in2 = float(input('Input the second number: '))
  op = input('Input the operation: (+, -, /, *)')

  if op == '+':
    return in1 + in2
  elif op == '-':
    return in1 - in2
  elif op == '/':
    return in1 / in2
  elif op == '*':
    return in1 * in2

In [ ]:
calculator()

Input the first number: 3
Input the second number: 2
Input the operation: (+, -, /, *)*

6.0

In [ ]:
#P-1.33
def handheld_calculator():
  in1 = float(input('Input the first number: '))
  print(in1)
  
  op = input('Input the operation: (+, -, /, *)')
  print(op)

  in2 = float(input('Input the second number: '))
  print(in2)

  if op == '+':
    return in1 + in2
  elif op == '-':
    return in1 - in2
  elif op == '/':
    return in1 / in2
  elif op == '*':
    return in1 * in2

In [ ]:
handheld_calculator()

Input the first number: 2
2.0
Input the operation: (+, -, /, *)*
*
Input the second number: 5
5.0

10.0

In [ ]:
#P-1.34
import random
def punishment(sentence, num=100):
  result = []
  for k in range(num):
    temp = ''
    loc = random.randint(0, len(sentence)) #select the location of typo randomly
    character = chr(random.randint(97, 122))  # make random typo
    
    #apply the typo
    for i in range(len(sentence)):
      if i == loc:
        temp += character
      else:
        temp += sentence[i]



    result.append(temp)
  
  return result

In [ ]:
sentence = 'I will never spam my friends again.'
punishment(sentence, num=10)

['I will nevzr spam my friends again.',
 'I will never spam ms friends again.',
 'y will never spam my friends again.',
 'I will never spam my frienxs again.',
 'I will nwver spam my friends again.',
 'I will never spam mx friends again.',
 'I will never spam my friends agaic.',
 'I will never spam my frienls again.',
 'I will never spah my friends again.',
 'Ihwill never spam my friends again.']

In [ ]:
#P-1.35

import random
def birthday_paradox(n, iter=100):
  count = 0
  for i in range(iter):
    birthday = [random.randint(1, 365) for k in range(n)]

    #check whether at least two people have the same birthdays
    if len(set(birthday)) != len(birthday):
      count += 1
  
  return count/iter

In [ ]:
birthday_paradox(n=23, iter=100)

0.5

In [ ]:
#P-1.36

def count_same_words():
  s = input('Enter a sentence ...')
  s += ' '   #concatenate white space to make the algorithm efficient

  result = {}
  temp = ''
  for i in range(len(s)):
    if s[i] != ' ':
      temp += s[i]
    else:
      if temp in result:
        result[temp] += 1
      else:
        result[temp] = 1
    
      temp = ''
  
  return result

In [ ]:
count_same_words()

Enter a sentence ...Hi I am python developer and happy python day!

{'Hi': 1,
 'I': 1,
 'am': 1,
 'python': 2,
 'developer': 1,
 'and': 1,
 'happy': 1,
 'day!': 1}