<a href="https://colab.research.google.com/github/vahidNaghshin/Data_structures_and_algorithms_in_Python/blob/main/Data_structures_and_algorithms_in_Python_Chapter_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter1. PythonPrimer

# Reinforcement

In [ ]:
#@title R-1.1
def is_multiple(n, m):
  if not m:
    raise ValueError('The number should be non-zero')
  return True if not n%m else False

In [ ]:
n, m = 10, 4
is_multiple(n, m)

False

In [ ]:
#@title R-1.2
def is_even(k):
  k = abs(k)
  while True:
    if k == 1:
      #the k is odd
      return False
    elif not k:
      #k is even
      return True
    k -= 2

In [ ]:
k=-40
is_even(k)

True

In [ ]:
#@title R-1.3
def minmax(seq):
  if not seq:
    raise ValueError('The sequence is empty!')

  max_value, min_value = seq[0], seq[0]
  for i in range(1, len(seq)):
    if seq[i] > max_value:
      max_value = seq[i]
    if seq[i] < min_value:
      min_value = seq[i]
    
  return max_value, min_value

In [ ]:
seq = [1, 5, -2, 8, 10, 190]
minmax(seq)

(190, -2)

In [ ]:
#@title R-1.4
def sum_sqrs(k):
  sum_ = 0
  for i in range(k):
    sum_ += i * i
  return sum_

In [ ]:
k=3
sum_sqrs(k)

5

In [ ]:
#@title R-1.5
sum(z*z for z in range(k))

5

In [ ]:
#@title R-1.6
def sum_odd_sqrs(k):
  sum_ = 0
  for i in range(k):
    if i%2:
      sum_ += i * i
  return sum_

In [ ]:
sum_odd_sqrs(k)

1

In [ ]:
#@title R-1.7
sum(z*z for z in range(k) if z%2)

1

In [ ]:
#@title R-1.10
[i for i in range(8, -9, -2)]

[8, 6, 4, 2, 0, -2, -4, -6, -8]

In [ ]:
#@title R-1.11
[2**i for i in range(9)]

[1, 2, 4, 8, 16, 32, 64, 128, 256]

In [ ]:
#@title R-1.12
import random

def choice_(seq):
  return seq[random.randrange(0, len(seq))]

In [ ]:
seq = [1,2,3,4]
choice_(seq)

4

# Creativity

In [ ]:
#@title C-1.13
seq = [1,6,2,5,9,3]
seq.reverse()
seq

[3, 9, 5, 2, 6, 1]

In [ ]:
for i in {1,2,36,2}:
  print(i)

1
2
36

In [ ]:
#@title C-1.14
def determine_odd_prod(seq):
  elements = list(set(seq)) #to get the distinct elements
  result = []
  for i in range(len(elements)):
    for j in range(i+1, len(elements)): #since we have distinct elements
      if (seq[i] * seq[j]) % 2:
        return True
  return False

In [ ]:
seq = [1,24,21,2,4, 24]
determine_odd_prod(seq)

True

In [ ]:
#@title C-1.15
def is_distinct(seq):
  return True if len(seq)==len(set(seq)) else False

In [ ]:
is_distinct(seq)

False

In [ ]:
#@title C-1.18
[i*(i+1) for i in range(10)]

[0, 2, 6, 12, 20, 30, 42, 56, 72, 90]

In [ ]:
#@title C-1.19
[chr(i) for i in range(97, 97+26)]

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [ ]:
#@title C-1.20
import random
def own_shuffle(seq):
  k = len(seq)
  idx = []
  while k:
    idx_rand = random.randint(0,len(seq)-1) #randint includes both end points
    if  idx_rand not in idx:
      idx.append(idx_rand)
      k -= 1
    
  return [seq[i] for i in idx]

In [ ]:
own_shuffle(seq)

[2, 4, 48, 8, 42, 48]

In [ ]:
#@title C-1.21
print('enter your input')
print('To finish, enter ctrl+D')
done = True
temp = []
while done:
  try:
    temp.append(input('Enter ... '))
  except EOFError:
    done = False #finish getting input from user
    temp.reverse()
    for line in temp:
      print(line)

enter your input
To finish, enter ctrl+D
Enter ... this is line 1
Enter ... this is line 2
Enter ... this is line 3
Enter ... 
this is line 3
this is line 2
this is line 1

In [ ]:
#@title C-1.22
def dot_prod(a, b):
  return [a[i]*b[i] for i in range(len(a))] #both arrays/lists have the same length

In [ ]:
a, b=[1,2,3], [4,5,6]
dot_prod(a, b)

[4, 10, 18]

In [ ]:
#@title C-1.23
def out_of_bound(a, idx):
  try:
    return a[idx]
  except IndexError:
    print('Don’t try buffer overflow attacks in Python!')

In [ ]:
out_of_bound(a, idx=10)

Don’t try buffer overflow attacks in Python!

In [ ]:
#@title C-1.24
def count_vowel(character):
  count = 0
  for c in character:
    if c in {'a', 'o', 'e', 'i', 'u'}:
      count += 1
  return count

In [ ]:
character = 'Hello, world!'
count_vowel(character)

3

In [ ]:
#@title C-1.25
def remove_punc(character):
  no_punc = ''
  for c in character:
    if not c in {'.', '\'', '?', '!', ',', ':', ';', '-', '_', '[', ']', '{', '}', '(', ')', '\"'}:
      no_punc += c
  return no_punc

In [ ]:
character= "Let\'s try, Mike."
remove_punc(character)

'Lets try Mike'

In [ ]:
#@title C-1.26

def det_order():
  a = int(input('Enter a number : a'))
  b = int(input('Enter a number : b'))
  c = int(input('Enter a number : c'))

  if a + b == c or c + a == b or b + c == a:
    return True
  elif a - b == c or c - a == b or b - c == a:
    return True
  elif a * b == c or c * a == b or b * c == a:
    return True
  return False

In [ ]:
det_order()

Enter a number : a3
Enter a number : b4
Enter a number : c1

True

In [ ]:
#@title C-1.27
def factors(n):
  k = 1
  temp = []
  while k * k < n:
    if not n%k:
      yield k
      temp.append(n//k)
    k+=1
  if k*k ==n:
    yield k
  temp.reverse()
  for i in temp:
    yield i

In [ ]:
for i in factors(90):
  print(i)

1
2
3
5
6
9
10
15
18
30
45
90

In [ ]:
#@title C-1.28
import math
def norm(v, p=2):
  return math.sqrt(sum(v[i] * v[i] for i in range(len(v))))

In [ ]:
v = (3, 4)
norm(v)

5.0

# Projects

In [ ]:
#@title P-1.29
import math, random

def possible_string(ch=['c' , 'a' , 't' ]):
  
  idx = [i for i in range(len(ch))]
  tot_comb = math.factorial(len(ch))
  print("Total words is: {0}".format(tot_comb))
  k = 0
  temp = []
  while len(temp) < tot_comb:

    #make a word
    candidate = ''
    for i in idx:
      candidate += ch[i]

    #if the word is not already in the list of words should be considered as new entry
    if not candidate in temp:
      temp.append(candidate)

    random.shuffle(idx)

  return temp

In [ ]:
all_words = possible_string(ch=['c' , 'a' , 't' , 'd' , 'o' , 'g'  ])
len(all_words)

Total words is: 720

720

In [ ]:
idx = [0, 1, 2, 3]
c= ['z', 'a', 'o', 'd']
p = ''
for i in idx:
  p += c[i]

p

'zaod'

In [ ]:
#@title P-1.30
def num_div():
  n = int(input('Please enter a number greater than 2: '))
  k = 0
  while n > 2:
    n /= 2
    k += 1
  return k

In [ ]:
num_div()

Please enter a number greater than 2: 7

2

In [ ]:
#@title P-1.31
def make_change(charged, given, coins):
 change = given - charged
 if change < 0:
   raise ValueError('Money Given should be greater than Money Charged')

 result = {}
 
 #makes sure the coins is sorted from max to min
 coins.sort()
 coins.reverse()


 for k in range(len(coins)):
   q, r = divmod(change, coins[k])
   result[coins[k]] = q
   change = r
 
 if change:
   print('Warning: change cannot paid fully')  #if the change cannot paid by coin system

 return result

In [ ]:
charged, given = 200, 335
coins = [1, 2, 5, 10, 20, 50, 100]

make_change(charged, given, coins)

{100: 1, 50: 0, 20: 1, 10: 1, 5: 1, 2: 0, 1: 0}

In [ ]:
#@title P-1.32
def calculator():
  in1 = float(input('Input the first number: '))
  in2 = float(input('Input the second number: '))
  op = input('Input the operation: (+, -, /, *)')

  if op == '+':
    return in1 + in2
  elif op == '-':
    return in1 - in2
  elif op == '/':
    return in1 / in2
  elif op == '*':
    return in1 * in2

In [ ]:
calculator()

Input the first number: 3
Input the second number: 2
Input the operation: (+, -, /, *)*

6.0

In [ ]:
#@title P-1.33
def handheld_calculator():
  in1 = float(input('Input the first number: '))
  print(in1)
  
  op = input('Input the operation: (+, -, /, *)')
  print(op)

  in2 = float(input('Input the second number: '))
  print(in2)

  if op == '+':
    return in1 + in2
  elif op == '-':
    return in1 - in2
  elif op == '/':
    return in1 / in2
  elif op == '*':
    return in1 * in2

In [ ]:
handheld_calculator()

Input the first number: 2
2.0
Input the operation: (+, -, /, *)*
*
Input the second number: 5
5.0

10.0

In [ ]:
#@title P-1.34
import random
def punishment(sentence, num=100):
  result = []
  for k in range(num):
    temp = ''
    loc = random.randint(0, len(sentence)) #select the location of typo randomly
    character = chr(random.randint(97, 122))  # make random typo
    
    #apply the typo
    for i in range(len(sentence)):
      if i == loc:
        temp += character
      else:
        temp += sentence[i]



    result.append(temp)
  
  return result

In [ ]:
sentence = 'I will never spam my friends again.'
punishment(sentence, num=10)

['I will nevzr spam my friends again.',
 'I will never spam ms friends again.',
 'y will never spam my friends again.',
 'I will never spam my frienxs again.',
 'I will nwver spam my friends again.',
 'I will never spam mx friends again.',
 'I will never spam my friends agaic.',
 'I will never spam my frienls again.',
 'I will never spah my friends again.',
 'Ihwill never spam my friends again.']

In [ ]:
#@title P-1.35

import random
def birthday_paradox(n, iter=100):
  count = 0
  for i in range(iter):
    birthday = [random.randint(1, 365) for k in range(n)]

    #check whether at least two people have the same birthdays
    if len(set(birthday)) != len(birthday):
      count += 1
  
  return count/iter

In [ ]:
birthday_paradox(n=23, iter=100)

0.5

In [ ]:
#@title P-1.36

def count_same_words():
  s = input('Enter a sentence ...')
  s += ' '   #concatenate white space to make the algorithm efficient

  result = {}
  temp = ''
  for i in range(len(s)):
    if s[i] != ' ':
      temp += s[i]
    else:
      if temp in result:
        result[temp] += 1
      else:
        result[temp] = 1
    
      temp = ''
  
  return result

In [ ]:
count_same_words()

Enter a sentence ...Hi I am python developer and happy python day!

{'Hi': 1,
 'I': 1,
 'am': 1,
 'python': 2,
 'developer': 1,
 'and': 1,
 'happy': 1,
 'day!': 1}